fastapi
uvicorn[standard]
python-dotenv
requests
faster-whisper
pydantic>=2.0
python-multipart
edge-tts
pydub
pyflakes
ddgs
cerebras-cloud-sdk
groq
supabase
chromadb
sentence-transformers
PyMuPDF
audioop-ltsaudioop-lts
